

.tipper {
    position: relative;
}

    .tipper:not(a),
    .tipper--clear-cursor {
        cursor: help;
    }

.tipper__content {
    box-sizing: border-box;
    opacity: 0;
    display: none;
    position: absolute;
    bottom: calc( 100% + 10px);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    font-size: 14px;
    font-weight: normal;
    text-emphasis: none;
    width: 250px;
    padding: 0.5em;
    text-align: center;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    z-index: 999;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: normal;
}

.tipper__content hr {
    border-top: 1px solid #CCC;
    margin-top: .4rem;
    margin-bottom: .4rem;
}

.tipper--fade .tipper__content {
    -webkit-animation: tipper-fade .5s;
    -moz-animation: tipper-fade .5s;
    -o-animation: tipper-fade .5s;
    animation: tipper-fade .5s;
}

.tipper--fixed .tipper__content {
    position: fixed;
}

.tipper__content:after {
    box-sizing: border-box;
    display: none;
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: -10px;
    border-top: 5px solid rgba(0,0,0, 0.85);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
}

.tipper--right .tipper__content {
    min-width: 100px;
    max-width: 300px;
    left: calc(100% + 10px);
    bottom: auto;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

    .tipper--right .tipper__content::after {
        bottom: auto;
        left: -10px;
        top: 50%;
        border-right: 5px solid rgba(0,0,0, 0.85);
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: none;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

.tipper--bottom .tipper__content,
.tipper--down .tipper__content {
    bottom: auto;
    top: calc( 100% + 10px);
}

.tipper--bottom .tipper__content::after,
.tipper--down .tipper__content::after {
        top: -10px;
        border-top: none;
        border-bottom: 5px solid rgba(0,0,0, 0.85);
    }

    .tipper--left .tipper__content {
    min-width: 100px;
    max-width: 300px;
    right: calc(100% + 10px);
    left: auto;
    bottom: auto;
    top: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tipper--left .tipper__content::after {
    bottom: auto;
    right: -10px;
    left: auto;
    top: 50%;
    border-left: 5px solid rgba(0,0,0, 0.85);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: none;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tipper:hover > .tipper__content,
.tipper:hover > .tipper__content:after {
    opacity: 1;
    display: block;
}

@-webkit-keyframes tipper-fade {
    0% {
        opacity: 0;
        display: none;
    }

    1% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@-moz-keyframes tipper-fade {
    0% {
        opacity: 0;
        display: none;
    }

    1% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@-o-keyframes tipper-fade {
    0% {
        opacity: 0;
        display: none;
    }

    1% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}

@keyframes tipper-fade {
    0% {
        opacity:0;
        display: none;
    }

    1% {
        opacity: 0;
        display: block;
    }

    100% {
        opacity: 1;
        display: block;
    }
}